{% load static %}

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="{% static "authentication/css/main.css" %}" />
		<link rel="icon" href="{% static "authentication/img/new_logo.svg" %}"
		type="image/x-icon" /> {% block head %}{% endblock %}
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<header>
			<img src="{% static "authentication/img/new_logo.svg" %}" alt="Логотип"
			class="logo">
		</header>
		{% block body %} {% endblock %}
		<div id="background-animation"></div>
		<div id="background-animation2"></div>
	</body>
</html>
