{% extends 'home/base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "news/css/news.css" %}" />
{% endblock %}

{% block title%}
    {{ title }}
    {{ news.title }}
{% endblock %}

{% block body %}
    {% block header %}
        <!-- Заголовок по центру -->
        <h2 class="news-title">{{ news.title }}</h2>
    {% endblock %}
    <div class="news-container-id">

        <!-- Ярлычок категории -->
        <span class="news-category">{{ news.get_category_display }}</span>

        <!-- Дата публикации и количество просмотров -->
        <p>
            <strong>Дата публикации:</strong> {{ news.published_date }}
            &nbsp; | &nbsp;
            <strong><i class="fa fa-eye"></i> {{ news.views }}</strong>
        </p>

        <!-- Основной контент с обтеканием изображения -->
        <div class="news-content">
            {% if news.image_url %}
                <img src="{{ news.image_url.url }}" alt="news image" class="news-image">
            {% endif %}

            <p>{{ news.content|safe }}</p>
        </div>

        <!-- Автор новости -->
        <p><strong>Автор:</strong> {{ news.author }}</p>

        <!-- Кнопка назад -->
        <a href="{% url 'news:news' %}" class="back-button">
            <i class="fa fa-arrow-left"></i> Назад
        </a>
    </div>


<footer>
	<p>Кабинет Студента/Выпускника/Аспиранта/Сотрудника/Родителя © 2013-2025 СПбГУТ Санкт-Петербургский государственный университет телекоммуникаций им. проф. М.А.Бонч-Бруевича (91.238.229.242)</p>
</footer>

<script src="{% static "base/js/header.js" %}"></script>
{% endblock %}