.news-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - 200px); /* Учитываем общий padding */
    margin: 150px auto;
    padding: 5px;
    box-sizing: border-box;
}


.news-item {
    width: calc(33.33% - 30px);
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.91);
    position: relative; /* Для псевдоэлемента */
    overflow: hidden; /* Чтобы псевдоэлемент не выходил за границы */
    text-align: justify;
}

.news-item::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 20px;
    z-index: -1;
}

.news-footer {
    position: absolute;
    bottom: 0;  /* Фиксируем футер внизу родительского блока */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px 15px;
}

.read-more-btn {
    background-color: #fc8215;
    color: #000000;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.read-more-btn:hover {
    background-color: #fc8215;
}

.views-count {
    font-size: 14px;
    color: #666;
}

/*--------------------------------------------CSS для news_id-------------------------------------------*/

.news-container-id {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    width: calc(100vw - 220px); /* Уменьшили ширину на 20px */
    margin: 130px auto;
    margin-left: 120px; /* Добавили отступ слева */
    padding: 5px;
    box-sizing: border-box;
}


.news-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.news-category {
    display: inline-block;
    background-color: #fc8215;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
}

.news-content {
    display: block;
    gap: 20px;
}

.news-image {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fc8215;
    font-weight: bold;
}
